<!-- START Header -->
<div class="compass-modal">
    <section class="">
        <header class="compass-modal__header">
            <h3>Modify MP Number</h3>
            <a href="#" class="icon icons-close-3 ir" data-bind="click: function(){$('.ui-widget-overlay').trigger('click')}">Close</a>

        </header>
        <section class="compass-modal__header">

            <div class="field-item field-item-testfield clearfix">
                <label>
                    <br>
                </label>
                <p>Changing the MileagePlus account number will require to shop again. Do you want to proceed? </p>
            </div>

        </section>
        <div class="compass-modal__footer">
            <a href="#" class="btn btn-primary" data-bind="click: pinpass.changeMpYes.bind($data)">Yes</a>
            <a href="#" class="btn btn-primary" data-bind="click: function(){$('.ui-widget-overlay').trigger('click')}">No</a>
        </div>

    </section>
</div>
<!-- /.header-main  -->
<!-- END Header -->
